<div class="container mt-4 p-4 border">

  <h3>Form di inserimento</h3>

  <div class="border p-4 mb-3 bg-light">

    <p>Nome:</p>
    <p>Cognome:</p>
    <p>Indirizzo:</p>
    <p>Telefono:</p>
    <p>Email:</p>
    <p>Data Prenotazione:</p>
    <p>Ora Prenotazione:</p>

  </div>

  <button class="btn btn-success mb-4">Salva</button>

  <h4>Lista prenotazioni</h4>

  <div class="border p-3 mb-4 bg-warning-subtle">
    <!-- qui andrà la lista -->
  </div>

  <h4>Dettagli prenotazione</h4>

  <div class="border p-3 bg-warning">
    <!-- qui andranno i dettagli -->
  </div>

</div>