.bg-light-orange {
  background-color: #ffcc99 !important; /* Arancione chiaro dell'immagine */
  border: 1px solid #333;
}

.detail-content p {
  margin-bottom: 0.5rem;
  font-family: 'Courier New', Courier, monospace; /* Per somigliare allo stile dell'immagine */
}